h2 {
  font-size: 80px;
  margin-top: 250px;
  text-shadow: 2px 2px black;
  padding-top: 100px;
  color: #ffffff;
}

.quiz-wrapper {
  margin-top: 100px;
  text-align: center;
}

.quiz-card-container {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.quiz-card {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.mat-card-header-text {
  margin-left: -8px;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-body {
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
}

button:hover {
  background-color: #556b2f;
}

/* Media styling goes at the very end of CSS file */

/* Media query for displays smaller than 500px */
/* "all" specifices to which media it should be applied
    Other possible values include screen, print, and speech (the value all encompasses all of these).
 */

@media all and (max-width: 480px) {
  h2 {
    font-size: 50px;
  }
  .quiz-card-container {
    width: 150px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 60px;
  }
}
