.quiz-card {
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

.quiz-wrapper {
  margin-top: 100px;
  text-align: center;
}

button {
  width: 100%;
}

h2 {
  font-size: 80px;
  margin-top: 250px;
  text-shadow: 2px 2px white;
  padding-top: 100px;
}

/* Media styling goes at the very end of CSS file */

/* Media query for displays smaller than 500px */
/* "all" specifices to which media it should be applied
    Other possible values include screen, print, and speech (the value all encompasses all of these).
 */

@media all and (max-width: 480px) {
  h2 {
    font-size: 50px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 60px;
  }
}
