/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/question_bckgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.mat-typography {
  background-color: gainsboro;
}

button {
  width: 80%;
}

@media all and (max-width: 480px) {
  body {
    background-repeat: repeat;
    background-size: cover;
  }
}
